<navbar></navbar>

<div class="container">
	<p>Panel administratora </p>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#doctors">Lekarze</a></li>
   <li><a data-toggle="tab" href="#users">Uzytkownicy</a></li>
   <li><a data-toggle="tab" href="#patients">Pacienci</a></li>
  </ul>
  <div class="tab-content">
    <div id="doctors" class="tab-pane fade in active">
      <h3>Lista lekarzy w systemie</h3>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="user in admin.users | filter:{ role:'doctor'}">
            <strong>{{user.name}}</strong><br>
            Rola:{{user.role}}<br>
            <span class="text-muted">{{user.email}}</span>
            <a ng-click="admin.delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
        </li>
      </ul>
    </div>
    <div id="users" class="tab-pane fade">
      <h3>Lista uzytkownikow zarejestrowanych w systemie</h3>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="user in admin.users | filter:{ role:'user'}">
            <strong>{{user.name}}</strong><br>
            Rola:{{user.role}}<br>
            <span class="text-muted">{{user.email}}</span>
            <a ng-click="admin.delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
        </li>
      </ul>
    </div>
    <div id="patients" class="tab-pane fade">
      <h3>Lista pacjentow dodanych do systemu:</h3>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="patient in admin.patients">
          <strong>Imie:</strong>{{patient.childInfo.firstname}}<br>
          <strong>Nazwisko:</strong>{{patient.childInfo.surname}}<br>
          <strong>Pesel:</strong>{{patient.childInfo.pesel}}<br>
        </li>
      </ul>
    </div>
   </div> 
</div>
