<div class="form-group">
  <label for="firstname" class="col-sm-2 control-label">Imie:</label>
  <div class="col-sm-10">
    <input type="text" name="firstname"ng-model="doctor.firstname" class="form-control" id="firstname" placeholder="Imie doktora" required/>
  </div>
</div>
<div class="form-group">
  <label for="surname" class="col-sm-2 control-label">Nazwisko:</label>
  <div class="col-sm-10">
    <input type="text"name="surname" ng-model="doctor.surname" class="form-control" id="surnname" placeholder="Nazwisko doktora" required/>
  </div>
</div>
<div class="form-group">
  <label for="email"name="email" class="col-sm-2 control-label">Email:</label>
  <div class="col-sm-10">
    <input type="text" ng-model="doctor.email" class="form-control" id="email" placeholder="Email doktora" required />
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Zapisz"/>
    <a ui-sref="doctorsList" class="btn btn-primary" role="button">Wroc do listy lekarzy</a>
  </div>
</div>
