<navbar></navbar>
<div class="container">
  <h3>Panel administratora </h3>
  <ul class="nav nav-pills">
      <li role="presentation" class="active"><a ui-sref="doctorsList">Lekarze</a></li>
      <li role="presentation"><a ui-sref="usersList">Uzytkownicy</a></li>
      <li role="presentation"><a ui-sref="patientsList">Pacjenci</a></li>
  </ul>
  <br>
  <div class="col-sm-6 col-md-4" ng-show="doctors.length < 1"> Brak lekarzy w  systemie.</div>
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="doctor in doctors">
      <div class="thumbnail">
        <img src="http://placehold.it/300x200" alt="">
        <div class="caption">
          <h3>{{doctor.firstname}} {{doctor.surname}}</h3>
          <strong>Id:</strong>{{doctor._id}}<br>
          <strong>Email:</strong>{{doctor.email}}<br>
          <p><a href="#" class="btn btn-info " role="button">Edytuj</a> <a href="#" class="btn btn-danger" role="button">Usun</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
    <!--
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="patient in patients">
        <strong>Id:</strong>{{patient._id}}<br>
        <strong>Imie:</strong>{{patient.childInfo.firstname}}<br>
        <strong>Nazwisko:</strong>{{patient.childInfo.surname}}<br>
        <strong>Pesel:</strong>{{patient.childInfo.pesel}}<br>
        <a ui-sref="viewPatient({id:patient._id})" class="btn btn-default" role="button"> Pokaz ksiazeczke pacjenta</a>
      </li>
    </ul>
    -->
