<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-show="pacients.length < 1"> Brak pacjentow w systemie.</div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="patient in patients">
        <strong>Id:</strong>{{patient._id}}<br>
        <strong>Imie:</strong>{{patient.childInfo.firstname}}<br>
        <strong>Nazwisko:</strong>{{patient.childInfo.surname}}<br>
        <strong>Pesel:</strong>{{patient.childInfo.pesel}}<br>
        <a ui-sref="viewPatient({id:patient._id})" class="btn btn-default" role="button"> Pokaz ksiazeczke pacjenta</a>
      </li>
    </ul>
  </div>
</div>
