<navbar></navbar>
<div class="container">
  <h3>Panel administratora </h3>
  <ul class="nav nav-pills">
      <li role="presentation"><a ui-sref="doctorsList">Lekarze</a></li>
      <li role="presentation" class="active"><a ui-sref="usersList">Uzytkownicy</a></li>
      <li role="presentation" ><a  ui-sref="patientsList">Pacjenci</a></li>
  </ul>
  <br>
  <div class="col-sm-6 col-md-4" ng-show="users.length < 1"> Brak uzytkownikow  w systemie.</div>
  <table class="table">
    <thead>
      <th class="text-center">Imie</th>
      <th class="text-center">Nazwisko</th>
      <th class="text-center">E-mail</th>
      <th></th>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td class="text-center">{{user.firstname}}</td>
        <td class="text-center">{{user.surname}}</td>
        <td class="text-center">{{user.emaill}}</td>
        <td class="text-right"><a class="btn btn-info" ui-sref="viewUser({id:user._id})" class="btn btn-default" role="button">Edytuj</a></td>
        <td class="text-center"><a class="btn btn-danger" ng-click="deleteUser({id: user._id})">Usun</a></td>
      </tr>
    </tbody>
  </table>
</div>
