<div class="form-group">
  <label for="motherName" class="col-sm-2 control-label">Imie matki:</label>
  <div class="col-sm-10">
    <input type="text" ng-model="patient.familyInfo.motherName" class="form-control" id="motherName" placeholder="Imie matki" required/>
  </div>
</div>
<div class="form-group">
  <label for="fatherName" class="col-sm-2 control-label">Imie ojca:</label>
  <div class="col-sm-10">
    <input type="text" ng-model="patient.familyInfo.fatherName" class="form-control" id="fatherName" placeholder="Imie ojca" required/>
  </div>
</div>
<div class="form-group">
  <label for="contactPhone" class="col-sm-2 control-label">Numer telefonu kontaktowego:</label>
  <div class="col-sm-10">
    <input type="text" ng-model="patient.familyInfo.contactPhone" class="form-control" id="contactPhone" placeholder="Numer telefonu kontaktowego"required/>
  </div>
</div>
