<navbar></navbar>
<div class="container">
  <div class="col-sm-6 col-md-6" ng-show="patients.length < 1"> Lista Twoich pacjentow jest pusta.</div>
  <table class="table" ng-hide="patients.length < 1">
    <thead>
      <th class="text-center">Imie</th>
      <th class="text-center">Nazwisko</th>
      <th class="text-center">PESEL</th>
      <th></th>
    </thead>
    <tbody>
      <tr ng-repeat="patient in patients">
        <td class="text-center">{{patient.childInfo.firstname}}</td>
        <td class="text-center">{{patient.childInfo.surname}}</td>
        <td class="text-center">{{patient.childInfo.pesel}}</td>
        <td class="text-right"><a class="btn btn-info" ui-sref="viewPatient({id:patient._id})" class="btn btn-default" role="button"> Pokaz ksiazeczke pacjenta</a></td>
      </tr>
    </tbody>
  </table>
</div>
