<navbar></navbar>

<div class="container">
    <form class="form-horizontal" name="addpatient" role="form" ng-submit="addPatient()" novalidate>
      <h2> Dane osobowe dziecka </h2>
      <div ng-include="'app/patients/templates/_child_info.html'"></div><br>
      <h2> Dane rodzicow/opiekunow dziecka</h2>
      <div ng-include="'app/patients/templates/_family_info.html'"></div><br>
      <h2> Wybor lekarza</h2>
      <div ng-include="'app/patients/templates/_doctor_info.html'"></div><br>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" class="btn btn-primary" value="Dodaj"/>
          <a ui-ref="parent" class="btn btn-danger" role="button">Anulj</a>
        </div>
      </div>
    </form>
</div>
