<navbar></navbar>

<div class="container">
  <br>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="panel panel-default" >
          <div class="panel-heading" id="ch0" >
            <h4 >Terminy kolejnych wizyt profilaktycznych</h4>
          </div>
          <div class="panel-body">
            Lorem ipsum
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default" id="ch1">
          <div class="panel-heading">
            <h4>1. Dane dziecka</h4>
          </div>
          <div class="panel-body">Lorem ipsum
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default" id="ch2">
          <div class="panel-heading">
            <h4>2. Dane o rodzinie</h4>
          </div>
          <div class="panel-body">Lorem ipsum
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default" id="ch3">
          <div class="panel-heading">
            <h4>3. Okres prenatalny</h4>
          </div>
          <div class="panel-body">Lorem ipsum
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default" id="ch4">
          <div class="panel-heading">
            <h4>4. Porod</h4>
          </div>
          <div class="panel-body">Lorem ipsum
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default" id="ch5">
          <div class="panel-heading">
            <h4>5. Stan noworodka po urodzeniu</h4>
          </div>
          <div class="panel-body">Lorem ipsum
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default" id="ch6">
          <div class="panel-heading">
            <h4>6. Obserwacje nowordka</p>
          </div>
          <div class="panel-body">Lorem ipsum
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default" id="ch7">
          <div class="panel-heading">
            <h4>7. Dane noworodka w dniu wypisu</h4>
          </div>
          <div class="panel-body">Lorem ipsum
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default" id="ch8">
          <div class="panel-heading">
            <h4>8. Wizyty patronazowe</h4>
          </div>
          <div class="panel-body">Lorem ipsum
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default" id="ch9">
          <div class="panel-heading" >
            <h4>9. Wizyty profilaktyczne - (0-4 roku zycia)</h4>
          </div>
          <div class="panel-body">Lorem ipsum
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default" id="ch10">
          <div class="panel-heading" >
            <h4>10. Badania stanu uzebienia oraz zdrowia jamy ustnej</h4>
          </div>
          <div class="panel-body">Lorem ipsum
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default" id="ch11">
          <div class="panel-heading" >
            <h4>11. Wizyty profilaktyczne - (5-19 rok zycia)</h4>
          </div>
          <div class="panel-body">Lorem ipsum
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default" id="ch12">
          <div class="panel-heading" >
            <h4>12. Badania stanu uzebienia oraz zdrowia jamy ustnej</h4>
          </div>
          <div class="panel-body">Lorem ipsum
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default" id="ch13">
          <div class="panel-heading" >
            <h4>13. Przebyte choroby zakazne</h4>
          </div>
          <div class="panel-body">Lorem ipsum
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default" id="ch14">
          <div class="panel-heading" >
            <h4>14. Konsultacje specjalistyczne</h4>
          </div>
          <div class="panel-body">Lorem ipsum
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default" id="ch15">
          <div class="panel-heading" >
            <h4>15. Uczulenia anafilaktyczne</h4>
          </div>
          <div class="panel-body">Lorem ipsum
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default" id="ch16">
          <div class="panel-heading">
            <h4>16. Hospitalizacje</h4>
          </div>
          <div class="panel-body">Lorem ipsum
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default" id="ch17">
          <div class="panel-heading" >
            <h4>17. Zaopatrzenia w sprzet i wyroby medyczne</h4>
          </div>
          <div class="panel-body">Lorem ipsum
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default" id="ch18">
          <div class="panel-heading" >
            <h4>18. Zwolnienia z zajec sportowych</h4>
          </div>
          <div class="panel-body">Lorem ipsum
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default" id="ch19">
          <div class="panel-heading" >
            <h4>19. Uwagi</h4>
          </div>
          <div class="panel-body">Lorem ipsum
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="list-group affix col-md-4">
          <a href="#ch0" class="list-group-item " style="padding:5px">Spis tresci</a>
          <a href="#ch1" class="list-group-item"style="padding:5px">1. Dane dziecka</a>
          <a href="#ch2" class="list-group-item"style="padding:5px">2. Dane o rodzinie</a>
          <a href="#ch3" class="list-group-item"style="padding:5px">3. Okres prenatalny (ciaza)</a>
          <a href="#ch4" class="list-group-item"style="padding:5px">4. Porod</a>
          <a href="#ch5" class="list-group-item"style="padding:5px">5. Stan noworodka po urodzeniu</a>
          <a href="#ch6" class="list-group-item"style="padding:5px">6. Obserwacje noworodka</a>
          <a href="#ch7" class="list-group-item"style="padding:5px">7. Dane noworodka w dniu wypisu ...</a>
          <a href="#ch8" class="list-group-item"style="padding:5px">8. Wizyty patronazowe</a>
          <a href="#ch9" class="list-group-item"style="padding:5px">9. Wizyty profilaktyczne - (0-4 roku zycia)</a>
          <a href="#ch10" class="list-group-item"style="padding:5px">10.Badanie stanu uzebienia oraz zdrowia jamy ustnej (do 4 roku zycia) </a>
          <a href="#ch11" class="list-group-item"style="padding:5px">11. Wizyty profilaktyczne - (5-19 rok zycia)</a>
          <a href="#ch12" class="list-group-item"style="padding:5px">12. Badania stanu uzebienia oraz zdrowia jamy ustnej</a>
          <a href="#ch13" class="list-group-item"style="padding:5px">13. Przebyte choroby zakazne</a>
          <a href="#ch14" class="list-group-item"style="padding:5px">14. Konsultacje specjalistyczne</a>
          <a href="#ch15" class="list-group-item"style="padding:5px">15. Uczulenia i reakcje anafilaktyczne</a>
          <a href="#ch16" class="list-group-item"style="padding:5px">16. Hospitalizacje</a>
          <a href="#ch17" class="list-group-item"style="padding:5px">17. Zaopatrzenie w sprzet i wyroby medyczne</a>
          <a href="#ch18" class="list-group-item"style="padding:5px">18. Zwolnienia z zajec sportowych</a>
          <a href="#ch19" class="list-group-item"style="padding:5px">19. Uwagi</a><br>
          <a style="float:right" ui-sref="patientsList" >Wroc do listy pacjentow</a>
        </div>
    </div>
  </div>
</div>
